@font-face{
    font-family:"Gaming Sporty";
    src: url(fonts/GamingSporty.ttf);
}
@font-face{
    font-family:"Vipnagorgialla";
    src: url(fonts/Vipnagorgialla\ Bd\ It.otf);
}
@font-face{
    font-family:"EA Font v1.5 by Ghettoshark";
    src: url(fonts/EASPORTS15.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    background:#04080B;
}
.background-img{
    background-image: url(imgs/background-hero.png);
    width: 100%;
    height: 110vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar{
    background-color:rgba(0, 0, 0, 0.345);
    display: flex;
    width: 100%;
    align-items: center;
    padding: 19px;
    gap: 215px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: center;
}
.logo{
    width: 154px;
    height: 83px;
}
.nav-text{
    display: flex;
    align-items: center;
    gap: 38px;
}
.text-1{
    color: #556166;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
.text-2{
    color: #E9F8FF;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}
.text-2:hover{
    color: #556166;
}
.button{
    display: flex;
    width: 170px;
    height: 49px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: #3B484F;
    color: #E9F8FF;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400; 
    transition: all 200ms ease-in-out;
    transition: transform 0.3s;
}
.button:hover{
    border: 2px solid #FFF;
    background: #161D21;
    transform: scale(1.1);
}
.hero-text{
    font-family: "Gaming Sporty";
    margin-left: 85px;
    font-size: 88px;
    font-weight: 400;
    letter-spacing: 7.92px;
    background: linear-gradient(99deg, #FFF -27.86%, #556166 118.81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.car-hero{
    width: 1543px;
    height: 600px;
    margin-top: 436px;
}
.sec-section{
    width: 100%;
    height: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}
.gallery-box{
    width: 320px;
    height: 79.67px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.polygon{
    width: 122px;
    height: 55px;
}
.gallery{
    color: #FFF;
    font-family: "Vipnagorgialla";
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 3.24px;
}
.title{
    color: #FFF;
    text-align: center;
    font-family: "Vipnagorgialla";
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 2.7px;
}
.mercedes-box{
    width: 1120px;
    height: 644px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.mercedes-box-2{
    width: 1120px;
    height: 307px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.img-box {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 550px;
    height: 307px;
    margin-bottom: 30px;
  }
  .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .img-box::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  .img-box .text {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "EA Font v1.5 by Ghettoshark";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.4s ease;
    text-shadow: 0 2px 6px rgba(0,0,0,0.8), 0 0 18px rgba(0,0,0,0.9);
    z-index: 2;
  }
  .img-box:hover::after {
    opacity: 1;
  }

  .img-box:hover .text {
    opacity: 1;
    transform: translateY(0);
  }
  .last-box-img {
    width: 1120px;
    height: 326px;
  }
.button-2{
    display: flex;
    width: 740px;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: #3B484F;
    color: #E9F8FF;
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 400; 
    transition: all 200ms ease-in-out;
    transition: transform 0.3s;
}
.button-2:hover{
    border: 2px solid #FFF;
    background: #161D21;
    transform: scale(1.1);
}
.models-section{
    width: 100%;
    height: 3087px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
    justify-content: center;
}
.models-button{
    display: flex;
    width: 550px;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}
.models-box{
    width: 320px;
    height: 79.67px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.models{
    color: #FFF;
    font-family: "Vipnagorgialla";
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 3.24px;
}
.button-box{
    display: flex;
    width: 550px;
    align-items: center;
    gap: 20px;
}
.button-3{
    display: flex;
    width: 265px;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: #3B484F;
    color: #E9F8FF;
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 400; 
    transition: all 200ms ease-in-out;
    transition: transform 0.3s;
}
.button-3:hover{
    border: 2px solid #FFF;
    background: #161D21;
    transform: scale(1.1);
}
.button-4{
    display: flex;
    width: 270px;
    height: 67px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid #FFF;
    border-radius: 18px;
    background: #161D21;
    color: #E9F8FF;
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 400; 
}
.cards-box{
    display: flex;
    width: 1120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 52px;
}
.car-box-row{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    align-self: stretch;
}
.car-box{
    display: flex;
    width: 550px;
    flex-direction: column;
    align-items: center;
    gap: 52px;
}
.card{
    width: 550px;
    height: 572px;
    background-image: url(imgs/back-tiguan.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-2{
    width: 550px;
    height: 572px;
    background-image: url(imgs/bmw-back.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-3{
    width: 550px;
    height: 572px;
    background-image: url(imgs/mini-back.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-4{
    width: 550px;
    height: 572px;
    background-image: url(imgs/ferarri-back.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-5{
    width: 550px;
    height: 572px;
    background-image: url(imgs/me-back.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-6{
    width: 550px;
    height: 572px;
    background-image: url(imgs/audi-back.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-7{
    width: 550px;
    height: 572px;
    background-image: url(imgs/mercedes-back.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-8{
    width: 550px;
    height: 572px;
    background-image: url(imgs/porche-back.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-box{
    display: flex;
    width: 502px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 170px;
}
.title-text{
    color: #FFF;
    text-align: center;
    font-family: "Vipnagorgialla";
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 2.52px;
}
.car-size{
    width: 502px;
    height: 279px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-car{
    display: flex;
    width: 333px;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: #3B484F;
    color: #E9F8FF;
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 500;
    transition: all 200ms ease-in-out;
    transition: transform 0.3s;
}
.button-car:hover{
    border: 2px solid #FFF;
    background: #161D21;
    transform: scale(1.1);
}

