@font-face{
    font-family:"Gaming Sporty";
    src: url(fonts/GamingSporty.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    background:#04080B;
}
.background-img{
    background-image: url(imgs/background-hero.png);
    width: 100%;
    height: 110vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar{
    display: inline-flex;
    align-items: center;
    gap: 145px;
}
.logo{
    width: 154px;
    height: 83px;
}
.nav-text{
    display: flex;
    align-items: center;
    gap: 33px;
}
.text-1{
    color: #556166;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
}
.text-2{
    color: #E9F8FF;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
}
.button{
    display: flex;
    width: 170px;
    height: 49px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: #3B484F;
    color: #E9F8FF;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600; 
    transition: all 200ms ease-in-out;
    transition: transform 0.3s;
}
.button:hover{
    border: 2px solid #FFF;
    background: #161D21;
    transform: scale(1.1);
}